@model IEnumerable<Asp.netCoreMVCCRUD.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionarios Registrados </h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizacao)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn  btn-outline-success"><i class="far fa-plus-square"></i> Cadastras Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>              
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacao)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.FuncionarioID"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.FuncionarioID" class="text-danger ml-1" onclick="return confirm('Tem certeza que deseja excluir? ')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
